<!DOCTYPE html>
<html>
<head>
    <title>Face Recognition Attendance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>Face Recognition Attendance System</h2>

    <a href="/register" class="btn">Register Student</a>
    <a href="/train" class="btn">Train Model</a>
    <a href="/attendance" class="btn">Start Attendance</a>
</div>

</body>
</html>
